@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@source '../../node_modules/fumadocs-ui/dist/**/*.js';

/* Override Tailwind's border-radius utility classes */
.rounded,
.rounded-sm,
.rounded-md,
.rounded-lg,
.rounded-xl,
.rounded-2xl,
.rounded-3xl,
.rounded-full {
  border-radius: 0 !important;
}

/* Disable navbar's radius */
header#nd-nav {
  border-radius: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  translate: 0 !important;
  margin-top: 0 !important;
}

main {
  padding-top: 0 !important;
}

h1 {
  @apply border-b py-3;
  border-color: var(--color-fd-borde);
  color: var(--color-fd-headings);
}

pre {
  max-width: 600px;
}
