@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@source '../../node_modules/fumadocs-ui/dist/**/*.js';

/* Override Tailwind's border-radius utility classes */
.rounded,
.rounded-sm,
.rounded-md,
.rounded-lg,
.rounded-xl,
.rounded-2xl,
.rounded-3xl,
.rounded-full {
  border-radius: 0 !important;
}

/* Disable navbar's radius */
main {
  padding-top: 0 !important;
}

h1 {
  @apply border-b py-3;
  border-color: var(--color-fd-borde);
  color: var(--color-fd-headings);
}

pre {
  max-width: 600px;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
}

:where(table):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  width: unset;
  border-radius: 0;
}

:where(table):not(:where([class~="not-prose"], [class~="not-prose"] *))
  tbody
  tr:nth-child(even) {
  background-color: var(--color-fd-background);
}
