.animateResume {
  animation: resume-sequence 20s ease-in-out infinite;
  transform-origin: top left;
}

@keyframes resume-sequence {
  0% {
    transform: translateY(0) scale(1);
  }
  10% {
    transform: translateY(0) scale(1.1);
  }
  20%,
  30% {
    transform: translateY(-5%) scale(1.5);
    transform-origin: top left;
  }
  40%,
  50% {
    transform: translateY(-33%) scale(1.6);
    transform-origin: top left;
  }
  60%,
  70% {
    transform: translateY(-65%) scale(1.6);
    transform-origin: bottom left;
  }
  80% {
    transform: translateY(-80%) scale(1.2);
  }
  95%,
  100% {
    transform: translateY(0) scale(1);
  }
}
